<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.taekwondoandroid">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".mvp.choise.ChoiceActivity_"
            android:screenOrientation="landscape">
        </activity>

        <activity android:name=".mvp.technique.TechniqueActivity_"
            android:screenOrientation="landscape">
        </activity>

        <activity android:name=".mvp.scoring.ScoringActivity_"
                  android:screenOrientation="landscape">
        </activity>

        <activity android:name=".mvp.configuration.ConfigurationActivity_"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <service android:name="com.taekwondoandroid.communicator.service.CommunicationService" >
        </service>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>
        <meta-data
            android:name="com.crashlytics.ApiKey"
            android:value="549d5f031c21ca2599a7f6cf88d324edc8d0a92a"
            />

    </application>



</manifest>
